function sys.min 0
push constant 4
push constant 2
lt 
if-Goto LESSER 
// basically checks if the stack has -1 or 0 rn if its 0(false) it does nothing and if true it jumps
push argument 1
return
label LESSER
push argument 0
return