function Sys.init 0
push constant 4
push constant 2
call Sys.min 2
call Sys.max 2
return

function Sys.min 0
pop temp 0
pop temp 1
lt
if-goto LESSER
push temp 1
return
label LESSER
push temp 0
return

function Sys.max 0
pop temp 0
pop temp 1
lt
if-goto GREATER
push temp 0
return
label GREATER
push temp 1
return
